.container {
   width: 60%;
   margin: 0 auto;
   background: white;
   border-radius: 10px;
   box-shadow: 0 0 10px grey;
}

@media (max-width: 1800px) {
   .container {
      width: 80%;
   }

   .inner__info {
      width: 350px;
   }
}

@media (max-width: 1400px) {
   .container {
      width: 95%;
   }
}

.container__inner {
   margin: 0 auto;
   width: 100%;
   min-height: 400px;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 20px 40px;
}

.inner__poster {
   height: 480px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 20px;
   margin-bottom: 20px;
}

.inner__poster img {
   height: 400px;
   margin-bottom: 15px;
}

.inner__info {
   width: 700px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   align-items: start;
}

.about {
   width: 300px;
}

.about p {
   width: inherit;
}

.about__line {
   display: flex;
   margin-bottom: 10px;
}

.about__column {
   width: 50%;
   font-size: 14px;
}

.inner__rating {
   margin-bottom: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.rating__number {
   font-weight: 500;
   font-size: 25px;
   color: rgb(255, 196, 0);
}

.rating__votes {
   margin-top: 5px;
   font-weight: 300;
   font-size: 15px;
   color: grey;
}
