.container {
   width: 60%;
   margin: 0 auto;
   background: white;
   border-radius: 10px;
   box-shadow: 0 0 10px grey;
}

.container__inner {
   margin: 0 auto;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 20px 40px;
}

.inner__poster {
   height: 480px;
   display: flex;
   flex-direction: column;
   margin-right: 20px;
   margin-bottom: 20px;
}

.inner__poster img {
   height: 400px;
   margin-bottom: 15px;
}

.inner__info {
   width: 700px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   align-items: start;
}

.about {}

.about__line {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}

.about__column {
   width: 50%;
   font-size: 14px;
}

.inner__rating {
   margin-left: 20px;
   margin-bottom: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.rating__number {
   font-weight: 500;
   font-size: 25px;
   color: gold
}

.rating__votes {
   margin-top: 5px;
   font-weight: 300;
   font-size: 15px;
   color: grey;
}